.container {
  max-width: 1280px;
  margin: 0 auto;
}
.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 40px;
  margin-right: 20px;
}
@media screen and (max-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .shop-container {
    grid-template-columns: 3fr 1fr;
  }
}
@media screen and (max-width: 748px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .shop-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Cart Section */
.cart-container {
  background: rgba(255, 153, 0, 0.3);
}
